#searchbox{
	float: right;
	padding-left: : 30px;
}
#searchbutton{
	font-size: 20px;
}
#heading1 {
	font-family: Arial;
	color: black;
	background-color: white;
	padding: 10px;
	opacity: 0.6;
	margin: 0px;
}

#nav li{
	display: outline;
	padding: 10px;
}

hr{
	border-color: black;
}

#nav {
	font-size: 30px;
	font-color: solid white;
	border: 1px solid black;
	margin: 10px;
	padding: 30px;
	float: right;
	list-style-type: none;
	padding: 50px;
	clear: both;
	border-width: 2px;
	opacity: 0.6;
	background-color: white;

}
a:hover {
	color: blue;
}

/*body {
	background-image: url(bg2.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: auto;
}*/


.dropdown {
	position: relative;
	display: outline-block;
}

.dropdown_content{
	display: none;
	position: absolute;
	background-color: white;
	color: black;
	min-width: 150px;
	opacity: 0.6;
	border-style: double;
}

.dropdown:hover .dropdown_content{
	display: block;

}

tr {
	color: white;
}

.user-data {
	color: white
	opacity: 2;
}

body{
	background-color: orange;
}
a{
	text-decoration: none;
}